@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Stem Medium";
  src: url("https://db.onlinewebfonts.com/t/0f20fd4113ce338b809530736f97afc5.eot");
  src: url("https://db.onlinewebfonts.com/t/0f20fd4113ce338b809530736f97afc5.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/0f20fd4113ce338b809530736f97afc5.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/0f20fd4113ce338b809530736f97afc5.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/0f20fd4113ce338b809530736f97afc5.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/0f20fd4113ce338b809530736f97afc5.svg#Stem Medium")
      format("svg");
}

body {
  overflow-x: hidden;
}

.animate-rotate {
  animation: rotate 2s linear infinite;
}

.animate-progress {
  animation: progress 2s ease-in-out 0.5s forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes progress {
  0% {
    transform: rotate(0deg);
  }
}

.Toastify__toast-icon {
  display: inline !important;
}
